{{>partials/header}}

<hr/>

<fieldset>
    <legend>Novo usuário</legend>
    <form action="/novousuario" method="POST">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required><br>
        <label for="age">Email:</label>
        <input type="number" name="age" id="age" required><br>
        <input type="submit" value="Inserir usuário">
</fieldset>

<h2>Usuários do banco</h2>
<ul>
    {{#users}}
        <li>{{name}} - Idade: {{age}}</li>
    {{/users}}
</ul>

<hr>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}